*{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Croissant One', cursive;
    font-size: 48px;
    color: black;
    margin-bottom: 30px;
}

p {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    color: #000000;

}

hr {
    border: 1px solid grey;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.responsive {
    max-width: 200px;
    max-height: auto;
}

footer {
    padding-top:125px;
    padding-bottom:20px;
    width: 100%;
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    text-align: center;
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    margin-top: 40px;

    color: #646464;
    margin-bottom: 20px;

}

/* SHOP PAGE CSS  */

.wrapper {
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: center;
    align-content: center;
    margin: 0px 30px;
}

.box {
    padding: 20px;
    background-color: #FFFFFF;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
}

.frame{
    padding: 20px 40px;
    background-color: #FFFFFF;
}

.card{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color:#F4F4F4;
}

.order-flavor {
    font-family: 'Croissant One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 10px;
    padding-top:10px
}

.order-thumbail{
    margin-top: 10px;
    margin-bottom: 10px;
}

.order-glaze {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 15px;
}

.order-quantity{
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1em;
}

select {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    padding: 0.5em 0.5em;
    letter-spacing: 0.1em;

    background: #F4F4F4;
    border: 1px solid #A3A3A5;
    box-sizing: border-box;
    
}

.glaze-quantity {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.quantities {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;    
    height: auto;
    text-align: center;
}

.cir {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 1px solid #A3A3A5;
    border-radius: 50%;
    color: black;
    padding-top: 15px;
    box-sizing: border-box;
}
.cir:hover {
    background-color: #8AD2FB;
    border: none;
    color: white;
}

#btn2 {
    width: 100%;
    margin-top: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    text-align: center;
    font-style: normal;
    font-weight: bold;

    line-height: 21px;
    letter-spacing: 0.1em;

    color: #F4F4F4;
    background-color: #E5E5E5;

    border: none;
}

#btn2:hover {
    background-color: #8AD2FB;
}

.price {
    text-align: right;
    margin-top: 20px;
    font-family: 'Croissant One', cursive;
}

button {
    border: none; 

}

.more-info {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #8AD2FB;
    margin-top: 25px;
    text-align: center;
    text-decoration: underline;

}

.footer-grid {
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: white;
}

.footer-box {
    font-family: 'Croissant One', cursive;
    padding: 10px;
    background-color: white;
}

#footer-c {
    display:flex;
    justify-content: right;
    padding:10px;
}

#logo {
    margin:10px;
}

/* HOME PAGE CSS */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin: 0px 15px;
}

li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: lighter;
    vertical-align: middle;
    padding: 20px;
}

h2 {
    font-family: 'Croissant One', cursive;
    font-size: 32px;
    color: black;
}


.home-button {
    font-family: Croissant One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:15px 15px;
    height: 50px;

    color: #000000;
    background-color: transparent;

    border: 1px solid #000000;

}

.home-button:hover {
    font-family: Croissant One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:15px;
    height: 50px;
    vertical-align: middle;

    background-color: #8AD2FB;
    color: #FFFFFF;

    border: 1px solid #8AD2FB;

}

#nav-logo {
    justify-content: flex-start;
}

header {
    padding: 0px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#active {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    vertical-align: middle;
    color: #8AD2FB;
}

html {
    height: 100%;
}

.home-body {
    height: 100%;
}

.home-container {
    height: 100%;
    background-image: url(Assets/home-background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-color
{
    background-color: white;
}

.landing-container {
    display:grid;
    grid-template-columns: 60% 40%;
    height: calc(100% - 75px);
    align-content: center;
    vertical-align: middle;
    max-width: 100%;
}
.landing-column-b {
    background: rgba(255, 255, 255, 0.85);
    margin: 0% 5% 0% 0%;
    padding: 10% 10% 10% 10%;
    text-align: left;
    font-family: 'Croissant One', cursive;
    font-size: 48px;
    color: black;


}
.body-text {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: left;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 20px;

}

/* VISIT PAGE CSS */

.visit-image {
    justify-items: right;
    align-items: right;
    justify-content: right;
    align-content: right;
    justify-self: right;
    align-self: right;
    margin-left:40px;
    height: auto;
}

.visit-details {
    margin: 0% 5% 0% 0%;
    padding: 10% 10% 10% 10%;
}

#landing-visit {
    column-gap: 40px;
    grid-template-columns: 50% 50%;
    background-color: white;
    background-image: none;
}

a {
    color: black;
    text-decoration: none;
}

/* Product Page CSS */

.panel {
    display: grid;
    grid-template-columns: 60% auto;
    height: 600px;
    width: auto;
    background-color: hotpink;
    vertical-align: middle;
}

.panel-image {
    height: 600px;
}

.panel-text {
    vertical-align: middle;

}